main {
    background: url(../assets/fabric.jpg);
}

.wrapper {
    max-width: 1400px;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dealer,
.player {
    display: flex;
}

.card {
    height: 300px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    margin: 20px;

    .rank {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 30px;
        font-weight: bold;
    }

    .suit {
        font-size: 80px;
    }
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    height: 300px;
    width: 500px;
    background-color: #A83F39;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.closed {
    display: none;
}

