@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

main {
    background: url(../assets/fabric.jpg);
    width: 100%;
}

.hands {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dealersArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dealer,
.player {
    display: flex;
    justify-content: center;
}

.hidden{
    background: url(../assets/cardBack.png);
    background-color: white;
    background-size: cover;
    
    .rank, .suit, .topSuit {
        display: none;
    }
}


.card {
    height: 300px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    margin: 20px;

    .rank {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 3rem;
        font-weight: bold;
    }

    .topSuit {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 4rem;
        font-weight: bold;
    }

    .suit {
        font-size: 80px;
    }
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #680001;
    background-color:#f4f6dc;
    border-radius: 10px;
    z-index: 2;
    width: 35%;
    padding: 10px 20px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

.resultsButton {
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: center;
    background-image: url(../assets/wood.jpg);
    width: 100%;
    height: 20vh;
}

button {
    align-self: center;
    font-size: 3rem;
    margin: 30px;
    padding: 10px 20px;
    border: 3px solid  #35654d;
    border-radius: 8px;
    background-color: #f4f6dc;


    i {
        margin-right: 10px;
    }
}

.controls p,
.dealersArea p {
    align-self: center;
    font-size: 3rem;
    margin: 30px;
    padding: 10px 20px;
    border: 3px solid  #35654d;
    border-radius: 8px;
    background-color: #f4f6dc;
    display: inline-block;
}




