@media(max-width:735px){
    .info,  
    button {
        font-size: 1.6rem;
    }

    .modalContent {
        width: 100%;
    }

    .card {
        height: 150px;
        width: 100px;
        margin-left: -75px;

        .suit {
            font-size: 5rem;
        }
    }

    .card:first-child{
        margin-left: 10px;
    }

    .playerPanel {
        .controls {
            justify-content: space-evenly;
        }
    }
}

@media(max-width:480px){
    .modalContent {
        padding: 0;
    }

    .info {
        margin: 5px;
    }
}