@media(max-width:735px){
        .controls p,
    .dealersArea p,
    button {
        font-size: 1.6rem;
    }

    .modalContent {
        width: 100%;
    }

    .card {
        height: 150px;
        width: 100px;
        margin-left: -75px;
    }

    .card:first-child{
        margin-left: 10px;
    }

    .controls {
        justify-content: space-evenly;
    }
}

@media(max-width:480px){
    .modalContent {
        padding: 0;
    }
}